.rqt-container {
  width: calc(100% - 60px);
  min-width: 1000px;
  border-radius: 10px;
  overflow: hidden;
  padding: 0;
  box-shadow: 0 4px 4px rgb(0 0 0 / 5%), 0 8px 8px rgb(0 0 0 / 5%),
    0 32px 32px rgb(0 0 0 / 5%), 0 64px 64px rgb(0 0 0 / 5%);
  margin: 40px 40px 40px 20px;
}
.rqt-table {
  width: 100%;
  border: 1px solid #ccc;
  padding: 5px;
  border-collapse: collapse;
}
.rqt-table tr:nth-child(even) {
  background-color: #e2e2e2;
}

.rqt-table tr:hover {
  background-color: #c6cbc9;
}

.rqt-table th{
  background-color: #2bb2bb;
  color: white;
  padding: 15px;
  text-align: left;
}
.rqt-table td {
  padding: 10px;
}

.pagination{
  text-align: center;
}
.page-item a {
  background-color: #2bb2bb;
  color: white;
  text-decoration: none;
  padding: 8px;
  border-radius: 5px;
}
.page-item {
  display: inline-block;
}

.rqt-panel-head {
  padding: 20px 0;
  background-color: #2bb2bb;
  color: white;
}
.rqt-panel-head h3 {
  margin-left: 20px;
  font-size: 28px;
  color: white;
}
.rqt-panel-body {
  margin: 5px;
}
.no-rqt h3 {
  text-align: center;
  padding: 20px;
}

.rqt-body-container {
  padding: 40px;
}


/* The Modal (background) */
.rqt-modal {
display: none; /* Hidden by default */
position: fixed; /* Stay in place */
z-index: 1; /* Sit on top */
left: 0;
top: 0;
width: 100%; /* Full width */
height: 100%; /* Full height */
overflow: auto; /* Enable scroll if needed */
background-color: rgb(0,0,0); /* Fallback color */
background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* The Modal (background) */
.rqt-modal-view {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }

/* Modal Content/Box */
.rqt-modal-content {
background-color: #fefefe;
margin: 5% auto; /* 5% from the top and centered */
padding: 20px;
border: 1px solid #888;
width: fit-content; /* Could be more or less, depending on screen size */
}
.modal-form-wrapper {
  clear: both;
}
/* The Close Button */
.close {
color: #aaa;
float: right;
font-size: 28px;
font-weight: bold;
}

.close:hover,
.close:focus {
color: black;
text-decoration: none;
cursor: pointer;
}


.field-msg {
  display: none;
  font-size: 9px;
  text-transform: uppercase;
  font-weight: 600;

  &.show {
      display: block;
  }
}

.error {
  color: rgb(144, 19, 19);
}

.success {
  color: rgb(47, 129, 47);
}

/*Admin calendar*/

.admin-calendar {
  width: 350px;
  background-color: #ffffff;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 20px;
}

.admin-month {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  background-color: #2bb2bb;
  color: white;
}

.admin-month h1 {
  margin: 0;
  color: white;
}

.admin-days div:hover {
  background-color: #f0f0f0;
  border-radius: 5px;
}

.admin-active {
  background-color: #4CAF50;
  color: white;
  border-radius: 5px;
}

#aelected-dates {
  width: 350px;
  border-collapse: collapse;
  margin-top: 10px;
  background-color: #ffffff;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  overflow: hidden;
}

#selected-dates th, #aelected-dates td {
  padding: 10px;
  text-align: center;
  border: 1px solid #ddd;
}

#SelectedDatesButton{
  background-color: #2e84bd;
  color: white;
  border: none;
  padding: 8px 12px;
  cursor: pointer;
  border-radius: 5px;
}
.actionButtons form {
  display: inline;
  padding: 5px;
}

button.viewButton, button.pendingViewButton{
  background-color: #3995c0;
  color: white;
  border: none;
  padding: 8px 12px;
  cursor: pointer;
  border-radius: 5px;
}

button.remove-btn, button.deleteButton, button.cancelButton{
  background-color: #f44336;
  color: white;
  border: none;
  padding: 8px 12px;
  cursor: pointer;
  border-radius: 5px;
}

button.updateButton, button.approveButton, #editButton, #export-button{
  background-color: #3e8535;
  color: white;
  border: none;
  padding: 8px 12px;
  cursor: pointer;
  border-radius: 5px;
}

button.remove-btn:hover {
  background-color: #d32f2f;
}
.clicked-day {
  background-color: #ffeeba; /* Light yellow background to indicate the day is clicked */
  color: #856404; /* Darker yellow text */
  font-weight: bold; /* Make the text bold */
  border-radius: 50%; /* Make it circular, if desired */
}
.admin-days-header {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
}

.admin-day-name {
  text-align: center;
  padding: 10px 0;
  font-weight: bold;
}

.admin-weekdays, .admin-days {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  padding: 10px;
}

.admin-weekdays div {
  text-align: center;
  font-weight: bold;
}

.admin-days div {
  text-align: center;
  padding: 10px;
  margin: 2px 0;
  cursor: pointer;
}

/*Front end calendar CSS*/


.calendar-wrapper {
  background: #fff;
  border-radius: 10px;
  overflow: auto;
  box-shadow: 0 15px 40px rgba(0,0,0,0.12);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.calendar-header #prevMonth {
  float: left;
}
.calendar-header #nextMonth {
  float: right;
}
#calendar .week-header th {
  border-style: none;
}
@media (min-width: 768px) {
#calendar .calendar-header th {
  padding: 0 20px;
  border-style: none;
}
}
.calendar-header .current-date {
  flex-grow: 1;
  text-align: center;
  font-weight: bold;
}

.calendar-header .material-symbols-rounded {
  cursor: pointer;
  padding: 0 10px;
}

#calendar {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

#calendar table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
  margin: 0;
}

#calendar td {
  text-align: center;
  cursor: pointer;
  border-style: none;
  height: auto; /* Remove the calc for height */
  width: 14.28%; /* Ensure each cell takes up 1/7th of the width */
}
#calendar .today {
  background-color: #4CAF50;
  color: white;
}
#calendar .day .date-day {
  display: flex;               /* Use flexbox for centering */
  justify-content: center;     /* Center horizontally */
  align-items: center;         /* Center vertically */
  width: 100%;                 /* Full width of the cell */
  height: 100%;                /* Full height of the cell */
  margin: 0;                   /* Ensure no margin affects alignment */  
}
#calendar .day.disabled {
  color: gray;
  pointer-events: none;
  cursor: not-allowed;
  text-decoration: line-through;
}

.day td.inactive {
  color: #aaa;
}

.day td.today, .day td.selected {
  color: #fff;
}

.day td::before {
  position: absolute;
  content: "";
  left: 50%;
  top: 50%;
  height: 40px;
  width: 40px;
  z-index: -1;
  border-radius: 50%;
  transform: translate(-50%, -50%);
}

.day td.today::before {
  background: #2bb2bb;
}

.day td:not(.today):hover::before {
  background: #f2f2f2;
}

.day td.selected::before {
  background: #55a57c;
}

.day td.selected:hover::before {
  background: #52bb85;
}

.weekdays-container, .week-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}
.calendar-date {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #f2f2f2;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.calendar-date.active-date {
  background-color: #4CAF50;
  color: white;
}

.inactive-date {
  color: #ccc;
  cursor: default;
}

.time-display {
  margin-bottom: 10px;
}

/*Time wrapper*/

.time-picker {
  width: 100%;
  display: table-row;
}
#calendar .time-picker td {
  cursor: default;
}

#time-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  text-align: center;
}

#time-wrapper label {
  margin-bottom: 5px;
  font-weight: bold;
  color: #333;
}

#time-wrapper input[type="time"] {
  padding: 5px;
  font-size: 1em;
  cursor: pointer;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
  transition: border-color 0.3s ease-in-out;
}

#time-wrapper input[type="time"]:focus {
  border-color: #007bff;
  outline: none;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

#select-time, .rqt-submit-btn {
  padding: 8px 12px;
  font-size: 1em;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}
#time-wrapper div {
  margin: 5px;
  box-sizing: border-box;
}
@media (max-width: 768px) {
  #time-wrapper div {
    flex: 1 1 100%;
  }
}

#calendar .day.selected, .time-picker {
  background: #e6e6e6;
}

/**
CSS to still review
*/
.settings-tabs-list li {
  margin: 0 2px;
  flex: 1; /* Make each tab take equal space */
  text-align: center;
  }
  
  .settings-tabs-list li.active{
  background: #e7e7e7;
  }
  
  .settings-tab-content .tab-pane {
  display: none;
  }
  
  .settings-tab-content .tab-pane.active {
  display: block;
  background: #e7e7e7;
  box-shadow: 0 1px 3px -1px rgb(24 23 23 / 30%);
  }
.settings-tab {
  width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
  background-color: #f8f9fa; /* Light background color */
  border-bottom: 2px solid #ddd; /* Add a border below the tabs */
}

.settings-tabs-list {
  display: flex;
  justify-content: space-between; /* Distribute tabs evenly */
  padding: 0;
  margin: 0;
  list-style: none;
}

.settings-tabs-list li a {
  display: block;
  text-decoration: none;
  color: #2bb2bb; /* Primary color for links */
  font-weight: 600;
  font-size: 18px;
  padding: 10px;
  transition: color 0.3s, background-color 0.3s; /* Smooth hover effect */
}

.settings-tabs-list li a:hover,
.settings-tabs-list li.active a {
  background-color: #e7e7e7; /* Background color on hover/active */
  color: #2bb2bb; /* Text color on hover/active */
  border-radius: 4px; /* Rounded corners */
  box-shadow: none;
}
/*Profile CSS*/

.profile-tabs-list li {
  margin: 0 2px;
  flex: 1; /* Make each tab take equal space */
  text-align: center;
  }
  
  .profile-tabs-list li.active{
  background: #e7e7e7;
  }
  
  .profile-tab-content .tab-pane {
  display: none;
  }
  
  .profile-tab-content .tab-pane.active {
  display: block;
  background: #e7e7e7;
  box-shadow: 0 1px 3px -1px rgb(24 23 23 / 30%);
  }
.profile-tab {
  width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
  background-color: #f8f9fa; /* Light background color */
  border-bottom: 2px solid #ddd; /* Add a border below the tabs */
}

.profile-tabs-list {
  display: flex;
  justify-content: space-between; /* Distribute tabs evenly */
  padding: 0;
  margin: 0;
  list-style: none;
}

.profile-tabs-list li a {
  display: block;
  text-decoration: none;
  color: #2bb2bb; /* Primary color for links */
  font-weight: 600;
  font-size: 18px;
  padding: 10px;
  transition: color 0.3s, background-color 0.3s; /* Smooth hover effect */
}

.profile-tabs-list li a:hover,
.profile-tabs-list li.active a {
  background-color: #e7e7e7; /* Background color on hover/active */
  color: #2bb2bb; /* Text color on hover/active */
  border-radius: 4px; /* Rounded corners */
  box-shadow: none;
}

/*End Profile CSS*/

.rqt-body-container code {
  padding: 10px;
  background-color: #e9ecef; /* Light gray background for the code */
  border-left: 4px solid #55a57c; /* Blue border to highlight the code */
  color: #4e3542; /* Color for the shortcode text */
  font-size: 18px;
  border-radius: 4px;
  margin-top: 10px;
}
/* Fade-out animation */
@keyframes fadeOut {
  from { opacity: 1; }
  to { opacity: 0; }
}

.fade-out {
  animation: fadeOut 2s ease-out forwards;
}


/**
View modal CSS
**/
.rqt-modal-content #view-modal-content, .rqt-modal-content #pending-view-modal-content {
  width: 400px;
}
.view-modal-item.inline-item {
  display: flex;
  justify-content: space-between;
  padding: 8px 0;
  border-bottom: 1px solid #eee;
}

.inline-item .view-modal-label {
  font-weight: bold;
  color: #555;
  flex-basis: 50%;
}

.inline-item .view-modal-value {
  flex-basis: 50%;
  color: #333;
  font-weight: normal;
}

.view-modal-description-container .view-modal-label {
  font-weight: bold;
  color: #555;
  margin-bottom: 8px;
}

.view-modal-description-container .view-modal-value {
  text-align: left;
  word-wrap: break-word; /* Ensures long texts wrap neatly */
  line-height: 1.5;
}

.modal-content {
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  max-width: 600px; /* Limit the width to ensure better readability */
  margin: 0 auto; /* Center the modal */
}

@media (max-width: 600px) {
  .modal-content {
      padding: 15px;
  }

  .view-modal-item.inline-item {
      padding: 8px 0;
  }
}


/*Email CSS**/

textarea.emails-settings {
  width: 100%; /* Make the textarea full width */
  min-height: 300px; /* Increase the minimum height */
  height: auto; /* Allow the height to adjust automatically */
  overflow: auto; /* Allow the content to flow without cutting off */
  box-sizing: border-box; /* Include padding in width and height calculations */
  padding: 10px; /* Add padding for readability */
}

input.emails-settings {
  width: 100%; /* Make the textarea full width */
  height: auto; /* Allow the height to adjust automatically */
  padding: 10px; /* Add padding for readability */
}
